* { box-sizing: border-box; }

body { background-color: #227093; color: #f7f1e3; font-family: 'Roboto', sans-serif; }

body .kanban { max-width: 1200px; padding: 5px 20px; text-align: center; margin: 0 auto; }

body .kanban .create-board, body .kanban .add-card, body .kanban .create-column { font-size: 18px; background-color: #ff5252; color: #f7f1e3; border: 2px solid #ff5252; cursor: pointer; }

body .kanban .create-board:hover, body .kanban .add-card:hover, body .kanban .create-column:hover { background-color: #f77070; border: 2px solid #f77070; }

body .kanban .create-board:focus, body .kanban .add-card:focus, body .kanban .create-column:focus { outline: 0; }

body .kanban .btn-delete { background-color: #f7f1e3; color: #b33939; border: 2px solid #f7f1e3; cursor: pointer; }

body .kanban .board-container { margin-top: 20px; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: center; justify-content: center; }

body .kanban .board-container .board { padding: 10px; margin: 5px; min-width: 250px; background-color: #143c4e; border-radius: 5px; }

body .kanban .board-container .board > h2 { text-transform: uppercase; }

body .kanban .board-container .board .column { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; padding: 10px; min-width: 300px; background-color: #227093; border: 1px solid #f7f1e3; border-radius: 5px; margin: 20px 10px; }

body .kanban .board-container .board .column ul { list-style-type: none; padding: 0; margin: 0; }

body .kanban .board-container .board .column h3 { font-size: 20px; margin: 10px 0 0 0; text-transform: uppercase; }

body .kanban .board-container .board .column .card { position: relative; background-color: #143c4e; padding: 0 5px; margin: 10px 0; border-radius: 5px; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: start; align-items: start; }

body .kanban .board-container .board .column .card .card-delete { display: none; }

body .kanban .board-container .board .column .card:hover .card-delete { display: block; position: absolute; border-radius: 50%; right: 3px; top: 3px; }
